<li>
  <%= gravatar_for user, size: Settings.user_list_gravatar_size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("static_pages.user_delete.delete"), user, method: :delete,
                                  data: { confirm: t("static_pages.user_delete.confirm") } %>
  <% end %>
</li>
